@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");


/*The root holds variables that will be used later. These variables were created to hold fonts imported from google's font api*/
:root{
    --font:"Noto Sans TC";
    --secondaryFont:"Montserrat";
    --bebas: "Bebas Neue";
    
}

@media (max-width: 600px){
    font-size: 8px;
}

