/*The footer is very similar to the navbar. Make the wrapper a flexbox, align the items in the center and add some extra styles*/
#footer .footerWrapper{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 0px;/*Vertical and horizontal*/
    /*The layer that this element is in*/
    z-index: 100;
}


#footer.outterWrapper{  
    width: 100%;
    bottom: 0px;
}


/*Give the div containing the copyright info margins in the top right bottom and left*/
.copyright {
    margin: 0px auto 0px auto;
    color: black;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

@media (max-width: 600px){
    .copyright{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.7rem;
    }

    .dividers{
        display: none;
    }

    .hideText{
        display: none;
    }

    #footer.outterWrapper{  
        width: 100%;
        margin-top: 5rem;
    }
}

@media(min-width: 1280px) and (max-width:1281px) and (min-height: 637px) and (max-height: 801px){
    #footer{
        display: none;
    }
}