#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  position: relative;
  /* border: 2px solid black; */
}

/*Style the main hobbies section title*/
.hobbiesTitle {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding-top: 1.3rem;
}

/*Style the hobbies intro*/
.hobbiesDesc {
  text-align: center;
  font-family: var(--font);
  font-size: 25px;
  position: absolute;
  top: 8.5rem;
}

/*Resize the icon player image and push it to the left. Add a margin to put space between the image and text next to it*/
.icon {
  max-width: 10rem;
  width: 100%;
  height: auto;
  padding-left: 0.5rem;
  padding-top: 1rem;
  object-fit: fill;
}

.hobbiesWrapper {
  display: flex;
  border: 2px solid black;
  width: 100%;
  height: auto;
  justify-content: center;
}

.stackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillName {
  text-align: center;
  font-weight: 500;
}

.skillType{
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.mainFlex {
  width: 80%;
}

.css {
  transform: scale(1.2, 1.2);
}

.tailwind {
  padding: 0 1rem;
}

.tailwind + p{
  padding-top: 0.85rem;
}

.node + p,
.node {
  padding-right: 2.5rem;
}

.sql {
  transform: scale(1.1, 1.1);
}

.sass {
  padding-left: 2rem;
}

@media (max-width: 600px) {

  .skillType{
    font-size: 1.2rem;
  }

  .skillName{
    font-weight: bold;
  }

  .node + p,
  .mySQL + p {
    margin-top: 1.5rem;
  }

  .node + p,
  .node {
    padding-right: 0;
  }

  .mainFlex {
    width: 95%;
  }

  #hobbies {
    width: 162vw;
    margin-top: 10rem;
  }

  .tailwind,
  .tailwind + p {
    display: none;
  }

  .mui {
    padding: 0 2rem;
  }

  .mui + p {
    margin-top: 11px;
  }

  .sass {
    padding-left: 0;
  }

  .sass + p {
    margin-top: 1.3rem;
  }

  .api + p{
      margin-top: 0.5rem;
  }
}
