/*Style the p tag containing the repo name*/
.repoName{
    font-family: var(--font);
    font-size: 20px;

}

/*Style the p tag containing the repo description*/
.repoDescription{
    font-family: var(--font);
    font-size: 17px;
    text-align: center;

}

/*Style the main title on the projects section*/
.projectTitle{
    font-family: var(--font);
    font-size: 50px;
    font-weight: bold;
    color: white;
}

/*Style the div containing the projects*/
.projectList{
    display: flex;
    flex-wrap: wrap;/*Use flex wrap so that all projects dont try to fit on one line*/
    justify-content: center;

}

/*Style the main projects container*/
#projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/projectbackground.jpg");
    /*Cover sizes the background to fill the entire container*/
    background-size: cover;
}

/*Style each repo(The gray square each repo is contained in)*/
.repo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(194, 194, 194);
    width: 450px;
    margin: 35px;
    border-radius: 10px; /*Make sure the edges are not sharp*/

}

/*Resize the images*/
.projImg{
    width: 90%;
    height: auto;
}

/*Style the link*/
.repoLink{
    font-family: var(--font);
    font-size: 20px;
    margin-bottom: 15px;
}