/*Style the main title on the workhistory page*/
.resumeTitle{
    font-family: var(--font);
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/*Style each heading on the the resume (Education, Work Exp, etc...)*/
.resumeHeading{
    font-family: var(--font);
    font-size: 30px;
    font-weight: bold;
    margin-right: auto;
    color: white;

}
/*Style each desription p tag*/
.resumeDesc{
    width: 100%;
    color: white;
}

/*Style the intro right below the main title*/
.resumeIntro{
    font-family: var(--font);
    font-size: 25px;
    

}

/*Style eaqch bullet point in the resume*/
.bullet{
    font-family: var(--font);
    font-size: 25px;
}

/*Stlye the entire work history container. */
#workhistory{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;/*Add horizontal padding so that the text is not all the way aligned left*/
    background-color: rgb(15, 9, 71);
}

/*Resize the resume picture. Could not get float to work so had to add an abnormally large right margin*/
.resumeDownload{
    width: 300px;
    height: auto;
    margin-right: 1500px;
}