/*Style the main title on the workhistory page*/
.resumeTitle{
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 1.8rem;
}

/*Style each heading on the the resume (Education, Work Exp, etc...)*/
.resumeHeading{
    font-family: var(--font);
    font-size: 30px;
    font-weight: bold;
    

}

.resumeHeading span{
    cursor: pointer;
}

/*Style each desription p tag*/
.resumeDesc{
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*Style the intro right below the main title*/
.resumeIntro{
    font-family: var(--font);
    font-size: 25px;

}

/*Style each bullet point in the resume*/
.bullet{
    font-family: var(--font);
    font-size: 25px;
}

/*Stlye the entire work history container. */
.downloadButton{
    text-decoration: none;
    border: 2px solid black;
    padding: 1rem;
    color: black;
    transition: 0.5s ease;
    border-radius: 4%;
    font-weight: 500;
}

.downloadButton:hover{
    background-color: black;
    color: white;
}

.innerFlex{
    display: flex;
    position: relative;
}

.left{
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 0 2.5rem;
}

.right{
    display: flex;
    flex-direction: column;
    flex: 50%;
    border: 2px solid black;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: sticky;
    right: 0;
    top: 7.125rem;
    bottom:0;
}

.rightText{
    color: white;
    padding-top: 7rem;
    font-family: var(--bebas);
    font-size: 3rem;
    
}

.officeGif{
    width: 80%;
}


/*Resize the resume picture.*/
.resumeDownload{

    width: 300px;
    height: auto;
    padding-bottom: 2rem;

}

.resumeCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fullHeight{
    height: auto;
}

.ul{
    margin: none;
}

@media(min-width: 1280px) and (max-width: 1453px){
    .rightText{
        font-size: 2.5rem;
        margin-top: -2rem;
    }
}

@media(min-width: 1280px) and (max-width:1281px) and (min-height: 637px) and (max-height: 801px){
    .resumeTitle{
        padding-top: 2.5rem;
    }
}

@media (max-width: 600px) {
    .innerFlex {
      flex-direction: column;
    }

    .right{
        position: relative;
        background-color: white;
        border: none;

    }

    .rightText{
        color: black;
        text-align: center;
    }
  
    #workhistory{
      width: 162vw;
    }
  }



